<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p>{{stage?.title}}</p>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-card-content>
      <app-election-stage-elements [elements]="stage?.elements"></app-election-stage-elements>
      <app-election-comments [comments]="stage?.comments"></app-election-comments>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>

