<div *ngFor="let candidate of candidates">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{candidate.firstName}}, {{candidate.lastName}}</mat-card-title>
        <mat-card-subtitle>{{candidate.party}}</mat-card-subtitle>
        </mat-card-header>
        <img class="candidate-overview-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a {{candidate.firstName}}, {{candidate.lastName}}" >
        <mat-card-content>
        <p>
            A vote for me is a vote for a greener climate... 
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
  </div>