.candidate-overview-image{
    padding: 5%;
    border-radius: 30%;
}

.candidate-overview-card{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 2px solid #bbb ;
    border-radius: 10%;
    margin: 1rem;

}

.candidate-overview-name{
    display: flex;
    justify-content: center;
    align-content: center;
}

.candidate-overview-summary{
    display: flex;
    justify-content: center;
    align-content: center;
}

.candidate-overview-buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}

.mat-mdc-card-header{
    display: unset;
    // padding: unset;
}

.candidate-overview-button{
    background-color :#ccc;
    margin: 5px;
}
.candidate-overview-party{

}