<nav class="navbar" role="banner">
    <ul>
      <li class="logotype">
        <a [routerLink]="['/']">
            <img width="40" alt="PA Youth Vote" src="/assets/icons/PA.png"/>
            <span class="title">
              Hackathon 2023 - PA Youth Vote
            </span>
        </a>
      </li>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <ng-container *ngIf="isUserLoggedIn()">
            <a [routerLink]="['/candidates']" class="menu-item"><span>Candidates</span><i class="material-icons center-icon">ballot</i></a>
            <a [routerLink]="['/how-to-vote']" class="menu-item"><span>how to vote</span><i class="material-icons center-icon">how_to_vote</i></a>
            <a class="menu-item"><span>{{getUserEmail()}}</span><i class="material-icons center-icon">person</i></a>
            <a class="menu-item" (click)="logout()"><span>Logout</span><i class="material-icons center-icon">logout</i></a>
        </ng-container>

        <ng-container *ngIf="!isUserLoggedIn()">
            <a [routerLink]="['/login']" class="menu-item">Login</a>
        </ng-container>
      </li>
    </ul>
  </nav>
