<div class="registration-page">
    <form class="example-form">
        <div>
            <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="registrationForm" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
            <mat-error *ngIf="registrationForm.hasError('email') && !registrationForm.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registrationForm.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </div>
        <button mat-button color="primary" (click)="registerUser()" [disabled]="isFormInvalid()">Register</button>
    </form>    
</div>