/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.registration-page {

    @media(max-width: 400){
        padding: 10px;    
    }

    padding: 40px;
}